.container{
    padding: 5rem 20rem;
}

.container .grid{
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.container .grid .posts{
    flex: 65%;
}

.container .grid .form{
    flex: 35%;
}
