.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  background-color: #fff;
  border-radius: 1rem;
}

.container .title {
  font-size: 6rem;
  font-family: "Inter-Medium";
}

.container .image img {
  max-height: 5rem;
}

.container .addPost {
  font-size: 3rem;
  cursor: pointer;

  position: absolute;
  top: 20%;
  right: 10%;
  display: none;
}

@media screen and (max-width: 768px) {
  .container .addPost {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .container {
    gap: 1rem;
  }
  .container .title {
    font-size: 3rem;
  }
  .container .image img {
    max-height: 2.5rem;
  }
  .container .addPost {
    top: 0;
    right: 5%;
  }
}
