.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background-color: #fff;
    border-radius: 1rem;
}

.container .title{
    font-size: 6rem;
    font-family: "Inter-Medium";
}

.container .image img{
    max-height: 5rem;
}